[submodule "external/libopencm3"]
	path = external/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "external/stlink"]
	path = external/stlink
	url = https://github.com/stlink-org/stlink
